/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*table > tbody > tr:hover {
	background-color: red;
}*/
tr.pending, div.pending {
	background-color: rgba(240,128,128,0.5);
}
tr.waiting, div.waiting {
	background-color: rgba(242,245,169,0.7);
}
tr.done, div.done {
	background-color: rgba(144,238,144,0.4);
}.circle {
	width: 1em;
	height: 1em;
	border-radius: 50px;
	border: 1px solid grey;
}
table.show-task td {
	padding:2px;
}
