<h2>Editar Tarea</h2>
<hr>

<%= form_for([iuris, @task]) do |f| %>
	<%= render 'form', f: f %>
	<div class="form-group">
		<div>
			<%= f.submit 'Actualizar Tarea', class: 'btn btn-primary' %>
			<%= link_to 'Volver', iuris.tasks_path, class: 'btn btn-default' %>
		</div>
	</div>
<% end %>